@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
} 

@font-face {
    font-family: DroidSerif;
    src: url("../fonts/DroidSerif/DroidSerif-Regular.ttf");
}

@font-face {
    font-family: DroidSerif;
    src: url("../fonts/DroidSerif/DroidSerif-Bold.ttf");
    font-weight: bold;
} 

