body {
    margin: 0;
}

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(33, 37, 41, .9);
    line-height: 60px;
    color: #fff;
    z-index: 9;
}

.nav img {
    height: 30px;
    margin-top: 15px;
    float: left;
}

.container {
    width: 1140px;
    margin: auto;
}

.clear-both::after {
    content: "";
    display: block;
    clear: both;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat, Arial;
    font-size: 15px;
}

.nav ul li a:hover {
    color: #fad149;
}

.header-img {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    padding-top: 250px;
    padding-bottom: 190px;
}

.header-img .heading-1 {
    padding: 10px;
    font-family: DroidSerif, Arial;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #fff;
}

.header-img .heading-2 {
    font-family: Montserrat, Arial;
    font-weight: bold;
    font-size: 72px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 60px;
}

.btn {
    display: block;
    margin: auto;
    background-color: #fad149;
    padding: 23px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, Arial;
    font-weight: bold;
    font-size: 18px;
    width: 180px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn:hover{
    background-color: #e0b937;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section > .container > h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat, Arial;
    font-size: 36px;
    margin-bottom: 8px;
}

.section > .container > p {
    color: #6c757d;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding-bottom: 40px;
    font-family: DroidSerif, Arial;
    font-style: italic;
}

.section-gray {
    background-color: #f8f9fa;
}

.section-contact-us {
    background-color: #20252a;
    background-image: url("../images/map-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.section-contact-us > .container > h1 {
    color: #fff;
}

.section-contact-us .btn {
    width: 250px;
}

.section-contact-us input[type="text"], .section-contact-us textarea{
    display: block;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    height: 66px;
    padding-left: 10px;
    background-color: #fff;
    font-family: Montserrat, Arial;
    font-size: 18px;
    font-weight: bold;
}

.section-contact-us textarea {
    height: 220px;
    padding-top: 20px;
}

.section-contact-us .box {
    width: 535px;
    padding: 15px;
    float: left;
}

.services-box {
    width: 340px;
    float: left;
    padding: 20px;
}

.services-box > h2 {
    font-family: Montserrat, Arial;
    text-align: center;
}

.services-box > p {
    color: #6c757d;
    text-align: center;
    font-family: DroidSerif, Arial;
    line-height: 30px;
}

.services-box > .icon {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-color: #fad149;
    margin: auto;
    font-size: 64px;
    color: #fff;
    text-align: center;
    line-height: 124px;
}

.portfolio-box {
    width: 356px;
    margin: 12px;
    float: left;
}

.portfolio-box > .img {
    position: relative;
}

.portfolio-box > .img > img {
    width: 100%;
}

.portfolio-box > .img > .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(250, 209, 73, .8);
    opacity: 0;
    transition: opacity 0.5s;
}

.portfolio-box > .img:hover > .hover-content {
    opacity: 1;
}

.portfolio-box > .img > .hover-content > i {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
    display: block;
    width: 64px;
    height: 64px;
    font-size: 64px;
    color: #fff;
}


.portfolio-box > .text {
    padding: 30px;
    background-color: #fff;
    text-align: center;
    margin-top: -5px;
}

.portfolio-box > .text > h2 {
    font-family: Montserrat, Arial;
    margin: 0;
}

.portfolio-box > .text > p {
    margin: 0;
    font-family: DroidSerif, Arial;
    color: #6c757d;
    font-style: italic;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    background-color: #e9ecef;
    left: 50%;
    top: 0;
    bottom: 0;
}

.timeline-item > .timeline-img {
    position: relative;
    left: 50%;
    margin-left: -81.5px;
    width: 156px;
    height: 156px;
    border-radius: 50%;
    border: 7px solid #e9ecef;
    background-color: #fad149;
}

.timeline-item > .timeline-img > h4 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat, Arial;
    margin-top: 40px;
    line-height: 26px;
}

.timeline-item > .timeline-img > img {
    width: 100%;
    border-radius: 50%;
}

.timeline-item {
    position: relative;
    margin-bottom: 15%;
}

.timeline-item > .timeline-content {
    position: absolute;
    width: 40%;
    text-align: right;
    font-family: Montserrat, Arial;
}

.timeline-item > .timeline-content.right {
   right: 0;
   text-align: left;
}


.timeline-item > .timeline-content > h2 {
    margin: 0;
}

.timeline-item > .timeline-content > h2.sub-heading {
    margin-top: 8px;
}

.timeline-item > .timeline-content > p {
    color: #6c757d;
    width: 70%;
    float: right;
    font-family: DroidSerif, Arial;
    line-height: 30px;
}

.timeline-item > .timeline-content.right > p {
    float: left;
}


.team-img {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    border: 8px solid #dfe0e1;
    display: block;
    margin: auto;
}


.team-heading {
    margin: 20px 0px 0px 0px;
}

.team-sub-heading {
    margin: 0px;
}

.team-icon {
    width: 200px;
    margin: 10px auto;
}

.team-icon > i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #333a41;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 15px;
}

.team-p {
    color: #6c757d;
    text-align: center;
    font-family: DroidSerif, Arial;
    line-height: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}